/* Complete Report Wrapper */
.complete-report-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: white;
}

.complete-report-iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
