/* Prototype Wrapper */
.prototype-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: white;
}

.prototype-iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
